header{
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dcdcdcc8;
    
}
nav{
    margin-right: 3%;
}
ul{
    display: flex;
}
li{
    list-style: none; 
    margin:0px 13px 0px 13px
}
a{
    font-size: 20px;
    text-decoration: none;
    outline: none;
    color: black;
}
#header_name{
    font-size: 25px;
    margin-left: 2%;

}
